input,
.select_style,
.search {
    border: 1px solid $border;
    border-radius: 6px;
    padding-left: 14px;
}

label {
    color: #B4B4B4;
}

.left {
    float: left;
}

.search {
    float: right;
}

#project textarea {
    height: 450px;
    resize: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch .published {
    display: none
}

;
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: $border;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
}

.published:checked+.slider {
    background-color: $lnc-blue;
}

.published:checked+.slider:before {
    transform: translateX(26px);
}