#bootstrap-override .alert {
    position: fixed;
    right: 46px;
    top: 80px;
    background: $lnc-green;
    min-width: 200px;
    height: 40px;
    text-align: center;
    padding: 8px;
    color: white;
    border-radius: 6px;
    border: 1px solid #37A28D;
    transition: display 0.2s ease-in;
}