//main
$lnc-blue: #3F88C5;
$lnc-green: #44BBA4;
$lnc-red: #E94F37;
$border: #CFCFCF;

// Nav
$logo-bg: #313638;
$nav-bg: #F7F7F7;

//Sidenav
$sidenav-bg: #393E41;
$sn-font-color: #F8F8F8;

// Body
$body-bg: #f5f8fa;


// Typography
$lnc-heading: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
